{
  "env": {
    "es6": true,
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module"
  },
  "extends": "eslint:recommended",
  "globals": {
    "require": false,
    "module": false
  }
}
